<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="600" maxRequestLength="921600" />
    <customErrors mode="On" defaultRedirect="menu.aspx"></customErrors>
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="server=FICHETVM1\FICHETXNET;Trusted_Connection=false;uid=fichet-sql;pwd=jlm556;database=FICHET_AX;Pooling=true;Max Pool Size=500" />
    <add key="ConnectionStringAdmin" value="server=FICHETVM1\FICHETXNET;Trusted_Connection=false;uid=sa;pwd=fichetxnetsql;database=FICHET_AX;Pooling=true;Max Pool Size=500" />
    <add key="ConnectionStringEcon" value="server=FICHETVM1\FICHETXNET;Trusted_Connection=false;uid=sa;pwd=fichetxnetsql;database=ECON;Pooling=true;Max Pool Size=500" />
    <add key="ConnectionStringTest" value="server=FICHETVM1\FICHETXNET;Trusted_Connection=false;uid=sa;pwd=fichetxnetsql;database=ECON_TEST;Pooling=true;Max Pool Size=500" />
    <add key="urlecon" value="http://econ.fichet-pointfort.fr" />
    <add key="urleconabloy" value="http://econ.abloy.fr" />
    <add key="urleconvachette" value="http://econ.vachette.fr" />
    <add key="urleconstremler" value="http://econ.stremler.fr" />
    <add key="urleconyale" value="http://econ.yalelock.fr" />
	<add key="urleconsherlock" value="http://econ.sherlock.eu" />
    <add key="urleconrehab" value="http://econ.fichet-serrurerie-batiment.fr" />
    <add key="clienttest" value="R40004,R40026,R40036,R40052,R40079,R40096,R40108,R40117,R40122,R40142,R40175,R40190,R40212,R40224,R40230,R40244,R40270,R40277,R40294,R40328,R40356,R40371,R40374,R40386,R40405,R40413" />
  </appSettings>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="default.aspx" />
        <remove value="Default.htm" />
                <add value="loginnew.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="/WebResource.axd" allowed="false" />
        </verbs>
                <denyUrlSequences>
                </denyUrlSequences>
                <denyQueryStringSequences>
                    <add sequence="DELETE" />
                    <add sequence="UPDATE" />
                    <add sequence="SELECT" />
                    <add sequence="TRUNCATE" />
                    <add sequence="DROP" />
                </denyQueryStringSequences>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp-relay.sendinblue.com" password="U71J5OKwaMmCnxYI" port="587" userName="nkecita@ciage.fr" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>